@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdfb;
  --foreground: #17130f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .content {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
