@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdfb;
  --background2: #413f3d;
  --foreground: #29221b;
  --lightGray: #5e5a57;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .content {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: initial;
  }
}
